<nav class="nav-primary" role="navigation">
    <ul>
        {% if page.url contains "/jfilter/1.0.17/" %}
        {% for p in site.pages %}
        {% if p.url contains "/jfilter/1.0.17/" %}
        {% if p.menu_title != null %}
        <li>
            <a {% if p.url== page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">{{ p.menu_title }}</a>
            <div>{{ p }}</div>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </ul>
</nav>