---
---

@import "{{ site.theme }}";

.inner {
  width: 900px;
}

.logo {
  width: 100px;
  height: 100px;
  background: url('/assets/logo.png') center;
  background-size: 100px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}